@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: flex;
  animation: 25s slide infinite linear;
  animation-duration: 8s;
}

/* .logos-slide .img {
  height: 50px;
  margin: 0 40px;
} */

.overview2 {
  /* border: 1px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 15px;
  /* align-content: center; */
  /* justify-content: center; */
}


.overview {
  /* border: 1px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 3fr));
  gap: 10px;
  align-items: center;
  justify-items: center;
 
}

@media (max-width: 480px) {
  .overview {
    grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
  }
}

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Extralight.woff') format('woff'),
       url('/fonts/ClashDisplay-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('/fonts/ClashDisplay-Light.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Light.woff') format('woff'),
       url('/fonts/ClashDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Regular.woff') format('woff'),
       url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Medium.woff') format('woff'),
       url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('/fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Bold.woff') format('woff'),
       url('/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.bg-image {
  background-image: url('/background-hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
